body {
  background-color: white;
}

#quote-box{
  position: relative;
  align-items: center;
  margin-top: 270px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  border-radius: 35px;
  
}  
#text, #author, #new-quote, #tweet-quote{
  font-family: 'Gayathri', sans-serif;
  font-size: 24px;
  padding-left:15px;
}
.clicks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#image {
  height: 70px;
}
#new-quote {
  border: none;
  border-radius: 40px;
  background: white;
}
#text {
  text-align: center;
}
#author {
  text-align: center;
}
button {
  cursor: pointer;
}
